{% extends "home.html" %}
{% block content %}
<main>
    <section>
        <div class="content">
            <h1 class="titles">Extract relevant information</h1>
            <p></p>
        </div>
        <div class="content-main">
            <div class="main-nav-menu">
                <ul class="nav-links">
                    <li class="text"><a class="analy-links" href="#"><span>Word Count</span></a></li>
                    <li class="text"><a class="analy-links" href="#"><span>Entities</span></a></li>
                    <li class="text"><a class="analy-links" href="#"><span>Keywords</span></a></li>
                    <li class="text"><a class="analy-links" href="#"><span>Sentiment</span></a></li>
                    <li class="text"><a class="analy-links" href="#"><span>Summarize</span></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}