{% extends "home.html" %}
{% block content %}
<main>
    <section>
        <div class="content">
            <h1 class="titles">Analyze text of a web page from a URL</h1>
            <p></p>
        </div>
        <div class="content">
            <form method="post" action="/url/analyze">
                <div class="input-container">
                    <label for="text">Send a URL</label><br>
                    <input type="text" id="text" name="text"><br>
                    <input class="submit" type="submit" value="Analyze it">
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}