{% extends "home.html" %}
{% block content %}
<main>
    <section>
        <div class="content">
            <h1 class="titles">Analyze text from the prompt</h1>
            <p></p>
        </div>
        <div class="content">
            <form method="post" action="/text/submit">
                <div class="input-container">
                    <label for="text" style="top: 20%">Type it</label><br>
                    <textarea id="text" name="textarea"></textarea>
                    <input class="submit" type="submit" value="Analyze it">
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}