<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('assets', path='static/home_styles.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet"> 
    <title>Word Wizards</title>
</head>
<body>
    <header class="home">
        <div class="nav-logo">
            <div class="logo">
                <a class="logo-group" href="">
                    <img class="logo-image" src="{{ url_for('assets', path='images/quotation-mark.png') }}" />
                    <div class="logo-title">Word Wizards</div>
                </a>
            </div>
            <div class="header-links">
                <nav class="main-nav">
                    <ul class="nav-links">
                        <li class="about"><a href="/"><span>About</span></a></li>
                        <li class="history"><a href="/"><span>History</span></a></li>
                        <li class="text"><a href="/"><span>Action</span></a></li>
                        <li class="documentation"><a href="/"><span>Documentation</span></a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <div class="lemma">Unleashing the Power of NLP</div>
    </header>
    <div class="page-wrap">{% block content %}{% endblock %}</div>
    <footer>

    </footer>
</body>
</html>