<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('assets', path='static/home_styles.css') }}" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet"> 
    <title>Word Wizards</title>
</head>
<body>
    <header class="home">
        <div class="nav-logo">
            <div class="logo">
                <a class="logo-group" href="{{ url_for('home') }}">
                    <img class="logo-image" src="{{ url_for('assets', path='images/quotation-mark.png') }}" />
                    <div class="logo-title">Word Wizards</div>
                </a>
            </div>
            <div class="header-links">
                <nav class="main-nav">
                    <ul class="nav-links">
                        <li class="about"><a class="nav-ref" href="{{ url_for('about') }}"><span>About</span></a></li>
                        <li class="history"><a class="nav-ref" href="{{ url_for('history') }}"><span>History</span></a></li>
                        <li class="text"><a class="nav-ref" href="#">Action&dtrif;</a>
                            <ul class="dropdown">
                                <li><a class="nav-ref" href="{{ url_for('from_text') }}">Your text</a></li>
                                <li><a class="nav-ref" href="{{ url_for('from_url') }}">Your URL</a></li>
                                <li><a class="nav-ref" href="{{ url_for('from_file') }}">Your file</a></li>
                            </ul>
                        </li>
                        <li class="documentation"><a class="nav-ref" href="{{ url_for('doc') }} " target="_blank"><span>Documentation</span></a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <div class="lemma">Unleashing the Power of NLP</div>
    </header>
    <div class="page-content">{% block content %}{% endblock %}</div>
    <footer>

    </footer>
</body>
</html>