ul {
    list-style: none;
}

body {
    background-image: url('../images/Background.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.home {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 25px;
}

.nav-logo{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
}

.logo{
    width: 100%;
    height: 72px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    align-self: stretch;
    align-items: center;
}

.logo-group{
    display: flex;
    text-decoration: none;
    color: #000;
}

.logo-title{
    padding-left: 8px;
    color: #000;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.logo-image{
    width: 60px;
    height: 57px;
    flex-shrink: 0; 
}

.header-links{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav{
    width: 100%;
    display: block;
}

.lemma{
    width: 30%;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 100px;

    color: #7F0799;
    font-family: Jost;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: normal; 
    }

.nav-links{
    width: 100%;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-around;
}

.about{
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.history{
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.text{
    color: #5AB1BB;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.documentation{
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.page-content{
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-top: 100px;
    /* display: flex;
    align-items: center; */
}

.titles{
    color: #000;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.lang{
    color: #000;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal; 
}

.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-left: 100px;
}

.content-title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-left: 100px;
}

.main-nav-menu{
    width: 60%;
    display: block;
    padding-right: 70px;
}

.main-display{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;

    width: 715px;
    height: 168px; 
    flex-shrink: 0; 
    flex: 1; /* Expand the input to fill the available space */
    border-radius: 10px;
    border: 1px solid rgba(34, 49, 39, 0.60);
    background: #D9D9D9;
}

.content-main{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 0;
    padding-top: 20px;
    padding-right: 31px;
    padding-bottom: 20px;
    padding-left: 31px;
    pointer-events: none; /* Prevent the label from intercepting mouse events */
    transform: translateY(-50%); /* Center the label vertically using translateY */
    transition: transform 0.3s ease-out; /* Optional: Add a smooth transition */

    color: rgba(0, 0, 0, 0.50);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.input-container textarea {
    width: 700px; /* Set the width as a percentage or specific value */
    height: 150px; /* Set the desired height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(34, 49, 39, 0.60);
    background: #D9D9D9;
    margin-bottom: 10px; /* Add margin to separate from the button */
}

.input-container input[type="submit"] {
    width: 190px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(127, 7, 153, 0.60);
    background: #7F0799;

    color: #FFF;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px; /* Add margin to separate from the textarea */
}


.nav-ref {
    text-decoration: none;
    color: #000;
}

.analy-links {
    text-decoration: none;
    color: #5AB1BB; /* Replace #007bff with the desired color in hexadecimal or any other valid CSS color format */
}

.display-text{
    color: #000;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.display-text-large{
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

ul.display-items{
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.text_cont{
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}